<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="ValidationResultInfoCtrl.html">
    <div class="modal-header">
                <span style="font-weight: bold; font-size: 20px">
                    Validation Result Information
                </span>
                <span class="pull-right">
                    <button class="btn btn-xs btn-primary" class="point" ng-click="close()"><i class="fa fa-times"></i>Close</button>
                </span>
    </div>
    <div class="modal-body">
        <div class="validation-result-info-content">
            <div ng-if="appInfo.validationResultInfo != null" ng-bind-html="toHTML(appInfo.validationResultInfo)">
            </div>
            <div ng-if="appInfo.validationResultInfo == null">
                No information available.
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="VersionChangeCtrl.html">
    <div class="modal-body">
        <div ng-include="'sc.html'"></div>
        <br />
        <br />
        <div style="text-align:center">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
               title="Cancel" class="point">
                <i class="fa fa-refresh"></i>
                Refresh
            </button>
        </div>

    </div>
</script>


<script type="text/ng-template" id="InvalidReqCtrl.html">
    <div class="modal-body">
        <div ng-include="'ir.html'"></div>

        <br />
        <br />

        <div style="text-align:center">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
               title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="ErrorCtrl.html">
    <div class="modal-body">
        <div ng-include="'down.html'"></div>

        <br />
        <br />

        <div style="text-align:center">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
               title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="NotFoundCtrl.html">
    <div class="modal-body">
        <div ng-include="'nf.html'"></div>

        <br />
        <br />

        <div style="text-align:center">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
               title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3>Your session will expire soon!</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=30" class="modal-body">
        <progressbar type="warning" max="30" value="30" animate="false" class="progress-striped active">Your
            session
            will expire in {{countdown}} second(s).
        </progressbar>
    </div>
</script>

<script type="text/ng-template" id="timedout-dialog.html">
    <div class="modal-header">
        <h3>Session timeout</h3>
    </div>
    <div class="modal-body">
        <p>
            Your session has expired.
        </p>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="CriticalError.html">
    <div class="modal-header">
        <h3>Error</h3>
    </div>
    <div class="modal-body exception">
        <p ng-bind="error">
        </p>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>