<script type="text/ng-template" id="CBTestCase.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestCase' === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.name}}</a>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CBTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestStep' === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.position}}.{{::node.name}}</a>
        </td>
    </tr>
</script>


<script type="text/ng-template" id="CBTestPlanOrTestCaseGroup.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap">
            <span>{{::node.name}}</span>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CFTestCase.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding:0;white-space: nowrap"
            ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">
            <span>{{::node.name}}</span>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CFTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding:0;white-space: nowrap"
            ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">
            <a class="point" ng-click="loadTestCase(node)">{{::node.name}}</a>
        </td>
    </tr>
</script>


<script type="text/ng-template" id="CFProfileInfoCtrl.html">
    <div class="modal-header">
                <span style="font-weight: bold; font-size: 23px">
                    Profile Information
                </span>
                <span class="pull-right">
                    <i class="point fa fa-times" ng-click="close()"></i>
                </span>
    </div>
    <div class="modal-body">
        <div style="font-size: 14px">
            <h4 class="page-header">Standard</h4>
            <ul>
                <li>CDC HL7 Version 2.5.1 Implementation Guide for Immunization Messaging</li>
                <li>Release 1.5 (10/01/2014)</li>
            </ul>
            <!--<p>CDC HL7 Version 2.5.1 Implementation Guide for Immunization Messaging</p>-->
            <!--<p>Release 1.5 (10/01/2014)</p>-->
        </div>
        <div style="font-size: 14px">
            <h4 class="page-header">Profiles</h4>
            <ul>
                <li>Z22(VXU)- Send Immunization </li>
                <li>Z23(ACK)- Acknowledgement </li>
                <li>Z34(QBP)- Query: Complete Immunization History </li>
                <li>Z44(QBP)- Query: Evaluated Immunization History And Forecast </li>
                <li>Z31(RSP)- Response: List Of Candidates Profile </li>
                <li>Z32(RSP)- Response: Complete Immunization History </li>
                <li>Z33(RSP)- Response: Acknowledgement With No Person Records </li>
                <li>Z42(RSP)- Response: Evaluated History AND Forecast </li>
            </ul>
        </div>
        <div style="font-size: 14px">
            <h4 class="page-header">Pairs</h4>
            <ul><li>Z22:Z23 - Send Immunization/ACK </li>
                <li>Z34:Z31 - Query History/Respond Candidates </li>
                <li>Z34:Z32 - Query History/Respond History </li>
                <li>Z34:Z33 - Query History/Respond Person Not Found </li>
                <li>Z44:Z42 - Query History & Forecast/Respond History & Forecast </li>
                <li>Z44:Z33 - Query History & Forecast/Respond Person Not Found </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
                  <span class="pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="close()"> <i class="fa fa-times"></i> Close</button>
                  </span>
    </div>
</script>