<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="ValidationResultInfoCtrl.html">
    <div class="modal-header">
                <span style="font-weight: bold; font-size: 20px">
                    Validation Result Information
                </span>
                <span class="pull-right">
                    <button class="btn btn-xs btn-primary" class="point" ng-click="close()"><i class="fa fa-times"></i>Close
                    </button>
                </span>
    </div>
    <div class="modal-body">
        <div class="validation-result-info-content">
            <div ng-if="appInfo.validationResultInfo != null" ng-bind-html="toHTML(appInfo.validationResultInfo)">
            </div>
            <div ng-if="appInfo.validationResultInfo == null">
                No information available.
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="VersionChanged.html">
    <div class="modal-body error-dlg">
        <div ng-include="'InvalidAppState.html'"></div>
        <br/>

        <div style="text-align:center">
            <p>Please click
                <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                        title="Cancel" class="point">
                    <i class="fa fa-refresh"></i>
                    reset
                </button>
                to reinitialize your browser.
            </p>
        </div>

    </div>
</script>


<script type="text/ng-template" id="InvalidReqCtrl.html">
    <div class="modal-body error-dlg">
        <div ng-include="'InvalidRequest.html'"></div>
    </div>
    <div class="modal-footer error-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ErrorCtrl.html">
    <div class="modal-body error-dlg">
        <div ng-include="'Error.html'"></div>
    </div>
    <div class="modal-footer error-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="NotFoundCtrl.html">
    <div class="modal-body info-dlg">
        <div ng-include="'NotFound.html'"></div>
    </div>
    <div class="modal-footer info-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3>Your session will expire soon!</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=30" class="modal-body info-dlg">
        <progressbar type="warning" max="30" value="30" animate="false" class="progress-striped active">Your
            session
            will expire in {{countdown}} second(s).
        </progressbar>
    </div>
</script>

<script type="text/ng-template" id="timedout-dialog.html">
    <div class="modal-body info-dlg">
        <p>
            Your session has expired.
        </p>
    </div>
    <div class="modal-footer info-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-refresh"></i>
                Refresh
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="CriticalError.html">
    <div class="modal-body error-dlg">
        <p ng-bind="error">
        </p>
    </div>
    <div class="modal-footer error-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="NotificationSuccessTemplate.html">
    <div class="ui-notification custom-template">
        <div class="message">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span ng-bind-html="message"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="NotificationErrorTemplate.html">
    <div class="ui-notification custom-template">
        <div class="message">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span ng-bind-html="message"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="NotificationWarningTemplate.html">
    <div class="ui-notification custom-template">
        <div class="message">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span ng-bind-html="message"></span>
        </div>
    </div>
</script>


<script type="text/ng-template" id="MessageWithHexadecimal.html">
    <div class="modal-header">
                <span style="font-weight: bold; font-size: 20px">
                    Message Content
                </span>
                <span class="pull-right">
                    <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                            title="Close Dialog" class="point">
                        <i class="fa fa-times"></i>
                        Close
                    </button>
                </span>
    </div>


    <div class="modal-body">
        <div class="pull-right" style="margin-bottom: 20px">
            <button title="View Message" type="button" class="btn btn-sm btn-info"
                    ng-click="toggleHexadecimal()">
                <i class="fa fa-eye"></i>
                <span ng-show="showHex">Show Original</span>
                <span ng-show="!showHex">Show Non-Printable Characters</span>
            </button>
        </div>
        <textarea class="form-control" id="message"
                  ng-bind="message"
                  rows="15"
                  name="message"
                  wrap="off" style="overflow:auto;" disabled></textarea>
    </div>
</script>
