<!--<script type="text/ng-template" id="CBTestCase.html">-->
    <!--<tr tt-node style="white-space: nowrap"-->
        <!--is-branch="node.children != null && node.children.length > 0">-->
        <!--<td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"-->
            <!--ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestCase' === selectedTestCase.type}">-->
            <!--<a class="point"-->
               <!--ng-click="selectTestCase(node)">{{::node.name}}</a>-->
            <!--&lt;!&ndash;<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">&ndash;&gt;-->
        <!--</td>-->
    <!--</tr>-->
<!--</script>-->

<!--<script type="text/ng-template" id="CBTestStep.html">-->
    <!--<tr tt-node style="white-space: nowrap"-->
        <!--is-branch="node.children != null && node.children.length > 0">-->
        <!--<td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"-->
            <!--ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestStep' === selectedTestCase.type}">-->
            <!--<a class="point"-->
               <!--ng-click="selectTestCase(node)">{{::node.position}}.{{::node.name}}</a>-->
        <!--</td>-->
    <!--</tr>-->
<!--</script>-->


<!--<script type="text/ng-template" id="CBTestPlanOrTestCaseGroup.html">-->
    <!--<tr tt-node style="white-space: nowrap"-->
        <!--is-branch="node.children != null && node.children.length > 0">-->
        <!--<td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap">-->
            <!--<span>{{::node.name}}</span>-->
            <!--&lt;!&ndash;<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">&ndash;&gt;-->
        <!--</td>-->
    <!--</tr>-->
<!--</script>-->

<!--<script type="text/ng-template" id="CFTestCase.html">-->
    <!--<tr tt-node style="white-space: nowrap"-->
        <!--is-branch="node.children != null && node.children.length > 0">-->
        <!--<td style="padding:0;white-space: nowrap"-->
            <!--ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">-->
            <!--<span>{{::node.name}}</span>-->
            <!--&lt;!&ndash;<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">&ndash;&gt;-->
        <!--</td>-->
    <!--</tr>-->
<!--</script>-->

<!--<script type="text/ng-template" id="CFTestStep.html">-->
    <!--<tr tt-node style="white-space: nowrap"-->
        <!--is-branch="node.children != null && node.children.length > 0">-->
        <!--<td style="padding:0;white-space: nowrap"-->
            <!--ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">-->
            <!--<a class="point" ng-click="loadTestCase(node)">{{::node.name}}</a>-->
        <!--</td>-->
    <!--</tr>-->
<!--</script>-->