<script type="text/ng-template" id="ValidationResultInfoCtrl.html">
    <div class="modal-header">
                <span style="font-weight: bold; font-size: 20px">
                    Validation Result Information
                </span>
                <span class="pull-right">
                    <a class="point" ng-click="close()"><i class="fa fa-times"></i></a>
                </span>
    </div>
    <div class="modal-body">
        <div class="validation-result-info-content">
            <div ng-if="appInfo.validationResultInfo != null" ng-bind-html="appInfo.validationResultInfo">
            </div>
            <div ng-if="appInfo.validationResultInfo == null">
                No information available.
            </div>
        </div>
    </div>
</script>