<div class="" style="margin-bottom: 20px">
    <button title="Transaction Details" type="button" class="btn btn-sm btn-primary" ng-click="configCollapsed = !configCollapsed"><i class="fa fa-cog"></i>Transaction Details
    </button>

    <button type="button" ng-click="startListening()" ng-disabled="senderForm.$invalid || connecting" title="Start listening" class="btn btn-sm btn-success">
        <i class="fa fa-play"></i>
        Start
    </button>
    <button type="button" ng-disabled="!connecting" ng-click="stopListening()" class="btn btn-sm btn-warning"><i class="fa fa-stop"></i>
        Stop
    </button>
    <span ng-show="connecting">
            <i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}
        </span>
</div>

<div class="row" collapse="configCollapsed">

    <div class="col-md-5">
        <fieldset>
            <legend>Configuration Information</legend>
            <form name="senderForm" novalidate="">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" disabled="disabled" name="u" class="form-control" ng-model="user.senderUsername">

                    <p class="help-block">This is the username assigned to you to use in your message</p>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="p" ng-model="user.senderPassword" disabled="disabled">

                    <p class="help-block">This is the password assigned to you to use in your message</p>
                </div>

                <div class="form-group">
                    <label>FacilityID</label>
                    <input type="text" class="form-control" name="facilityId" ng-model="user.senderFacilityID" disabled="disabled">

                    <p class="help-block">This is the facilityID assigned to you to use in your message</p>
                </div>

                <div class="form-group">
                    <label>Endpoint</label>
                    <!--<input type="url" name="endpoint" class="form-control" ng-model="endpoint.value"-->
                    <!--placeholder="SUT Endpoint" required disabled>-->
                    <span name="endpoint" class="form-control">{{endpoint.value}}</span>
                    <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                    <!--Sorry, an-->
                    <!--error occured. Please refresh your page</p>-->
                </div>

                <div class="form-group">
                    <label>WSDL</label>
                    <a ng-href="{{endpoint.value}}.wsdl" class="form-control" target="_blank">{{endpoint.value}}.wsdl</a>
                    <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                    <!--Sorry, an-->
                    <!--error occured. Please refresh your page</p>-->
                </div>

            </form>
            <!--<button title="Send Outgoing Message" type="button" class="btn btn-xs btn-primary"-->
            <!--ng-disabled="!isValidConfig()"-->
            <!--ng-click="send()">-->
            <!--<i class="fa fa fa-arrow-right"></i> Send-->
            <!--</button>-->

        </fieldset>
    </div>
    <div class="col-md-5">
        <fieldset>
            <legend>Console</legend>
            <textarea class="well" wrap="off" style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%" rows="23" disabled="disabled" ng-model="logger.content"></textarea>
        </fieldset>
    </div>
</div>