<button type="button" class="btn btn-sm btn-primary" ng-click="configCollapsed = !configCollapsed"><i class="fa fa-cog"></i> Configure
</button>

<button type="button" ng-click="send()" ng-disabled="!isValidConfig() || connecting" title="Send" class="btn btn-sm btn-success">
    <i class="fa fa-arrow-right"></i>
    Send
</button>

<span ng-show="connecting">
            <i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}
        </span>

<div class="row" collapse="configCollapsed">
    <div class="col-md-5">
        <fieldset>
            <legend>Please provide receiver's system information</legend>
            <!--<div class="page-header">-->
            <!--<h4></h4>-->
            <!--</div>-->
            <form name="receiverForm1" novalidate="">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="user.receiverUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" placeholder="Password" ng-model="user.receiverPassword">
                </div>
                <div class="form-group">
                    <label>FacilityID</label>
                    <input type="text" class="form-control" placeholder="Facility Id" ng-model="user.receiverFacilityId">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine }">
                    <label>Endpoint</label>
                    <input type="url" name="endpoint" class="form-control" ng-model="user.receiverEndpoint" placeholder="SUT Endpoint" required="">

                    <p ng-show="receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine" class="help-block">
                        Invalid url. Expected format is {{appInfo.url}}</p>
                </div>
            </form>

            <!--<button title="Send Outgoing Message" type="button" class="btn btn-xs btn-primary"-->
            <!--ng-disabled="!isValidConfig()"-->
            <!--ng-click="send()">-->
            <!--<i class="fa fa fa-arrow-right"></i> Send-->
            <!--</button>-->

        </fieldset>
    </div>


    <div class="col-md-5">
        <fieldset>
            <legend>Console</legend>
            <textarea class="well" wrap="off" style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%" rows="13" disabled="disabled" ng-model="logger.content"></textarea>
        </fieldset>
    </div>
    </div>